*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;

}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(./1.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.logo{
    width: 140px;
    font-size: 60px;

}

nav ul li{
    display:inline-flex;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e28c37;
    position:absolute ;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
#about{
    padding: 80px;
    color:#fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.about-p{
    font-size: 18px;
    
}

.tab-titles{
    display: flex;
    margin: 40px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
}

.tab-links:hover{
    color: #b86411;
    text-decoration: underline;
    transition: 0.5s;
}

.tab-contents ul li{
    margin: 10px 0;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.skill {
    display: flex;
    justify-content: space-between;
    
}
.educat{
    display: none;
}





/* .tab-content{
    display: flex;
    /* justify-content: space-around; */
    /* display: none; */
 */
/* } */
/* 
.tab-content ul li{
    /* list-style: none; */
    /* margin: 10px 20px; */
/* } */ 
/* 
.tab-content ul li span{
    font-size: 17px;
} */


/* .tab-content.active-tab{
    display: block;
} */

/* project */

.project{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.2s;
}


.work img:hover{
    width: 120%;
}

/* contact */

#contact{
    margin-top: 70px;
}
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.socialicon i{
    color: #ababab;
    margin-top: 30px;
    font-size: 30px;
    margin-right: 15px;
    transition: transform 0.5s;
    
    
}
.socialicon a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.socialicon a i img{
    font-size: 28px;
    color: #ababab;
    transition: 0.3s;
}
.socialicon a img {
    width: 28px;
    height: 28px;
    filter: grayscale(100%);
    transition: 0.3s;

      color: #ababab;
    margin-top: 30px;
    font-size: 30px;
    margin-right: 15px;
    transition: transform 0.5s;
}

.socialicon a:hover i img{
    color: #e28c37;
    transform: translateY(-3px);
}

.socialicon a:hover img {
    filter: none;
    transform: translateY(-3px);
}

.contact-left p{
    margin-top: 30px;
    font-size: 20px;
    margin-right: 15px;
    /* display: inline-block; */
}

.socialicon i:hover{
    color: #e28c37;
    transform:  translateY(-5px );
}
.btn{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    display: inline-block;
    background-color: #e28c37;
    color: white;
    transition: transform 0.5s;
    border-radius: 5px;
}

.btn:hover{
    background-color: #b86411;
    transform:  translateY(-5px );
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px; 
    border-radius: 20px;
}

.btn1{
    width: 80px;
    height: 40px;
    margin-top: 20px;
    display: inline-block;
    background-color: #e28c37;
    color: white;
    transition: transform 0.5s;
    border-radius: 5px;
}

.btn1:hover{
    background-color: #b86411;
    transform:  translateY(-5px );
}

nav .fa-solid{
    display: none;
}

.work-list button{
    position: relative;
    left: 30%;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    transition: 0.5s;
}

.work-list button:hover{
    color:white;
    background-color: #e28c37;
}


@media only screen and (max-width: 600px){
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    .header-text{
        margin-top: 80%;
        font-size: 16px;

    }
    .header-text h1{
        font-size: 30px;
    }
    .head1{
        font-size: 50px;
    }

    nav ul{
        background:#ff004f ;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index:2 ;
        transition: right 0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top:25px ;
        left: 25px;
        cursor: pointer;
    }
    nav .fa-solid{
        cursor: pointer;

    }
    .sub-title{
        font-size: 40px;
        /* margin-left: 50px ; */
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}
#msg{
    margin-top: 10px;
    display: block;
}
